.activity {
  margin-bottom: 20px;

  & a {
    color: #000;
  }

  & img {
    max-width: 100%;
    border-radius: 8px;
  }

  & .material-icons {
    font-size: 0.75em;
  }

  &__type {
    font-weight: 500;
  }

  &__rating {
    font-size: 17px;
  }

  &__cost {
    font-size: 14px;
  }
}
