@import "../../variable";

.single-full-venue {
  font-size: 20px;
  &__image {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 60px;
  }

  & .location {
    margin: 0px;
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.125em;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  & .location-details {
    margin-top: 30px;
    text-align: left;
  }

  & .right-details {
    border: 1px solid #e4e4e4;
    padding: 15px;
  }

  & .divider {
    margin: 20px 0 40px;
  }

  & .amenities,
  & .owner {
    & p {
      font-weight: 500;
      font-size: 24px;
    }
  }

  & .material-icons {
    color: $cRed;
    font-size: 14px;
  }

  & .material-icons {
    color: $cRed;
    font-size: 14px;
  }
}

.right-details .price-per-day {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.44444em;
  color: rgb(72, 72, 72);
  margin: 0px;
}

.location-details .left-details {
  & .title {
    margin: 0px;
    word-wrap: break-word;
    font-weight: 300;
    line-height: 1.5em;
    color: #484848;
    margin-bottom: 20px;
  }
  & .guests {
    margin: 0px;
    word-wrap: break-word;
    font-weight: 300;
    line-height: 1.5em;
    color: #484848;
  }
}

.right-details {
  & .price-per-day span {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.33333em;
    color: rgb(72, 72, 72);
    margin: 0px;
  }

  & .rating {
    font-size: 17px;
  }
}

.point-title {
  font-weight: 500;
  font-size: 24px;
}

.point-desc {
  margin-bottom: 20px;
}

select {
  display: block;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}
.profile {
  & .col {
    padding: 0 0.3em !important;
  }
}

.owner {
  & .min {
    display: block;
  }
  & .large {
    display: none;
  }
}

@media (min-width: 995px) {
  .owner {
    & .min {
      display: none;
    }
    & .large {
      display: block;
    }
  }
}
