@import "../../variable";

.home-page {
  padding: 0px !important;

  & .upper-fold {
    margin-top: -70px;
    height: 100vh !important;
    background-image: url("https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    & h1 {
      margin-top: 80px;
      color: #fff;
      font-weight: 500;
      text-shadow: 3px 4px 7px #fb006ad9;
      font-size: 35px;
    }

    & .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
    }
  }

  & .lower-fold {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 600px) {
  .home-page .upper-fold .container {
    justify-content: space-between;
    height: 80vh;

    & h1 {
      margin-top: 120px;
      font-size: 60px;
    }
  }
}
