.city {
  position: relative;
  overflow-wrap: break-word;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.44444em;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0px;
  text-transform: capitalize;
  border-radius: 25px;
  overflow: hidden;

  & a {
    color: rgb(255, 255, 255);
  }

  & img {
    max-width: 100%;
    transition: all 2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__price {
    font-weight: 300;
  }

  // & .city-name,
  // & .price {
  //   position: absolute;
  //   bottom: 25px;
  //   left: 0px;
  //   right: 0px;
  //   padding: 20px;
  // }

  // & .price {
  //   bottom: 0px;
  //   font-weight: normal;
  // }
}
