.app {
  margin-top: 70px;
  overflow: hidden;
}

.container {
  max-width: 1200px !important;
  width: 100% !important;
  margin: 0 auto;
  padding: 0.5em;
  position: relative;
}

.right {
  text-align: right;
}

.main-header-text {
  font-size: 20px !important;
  line-height: 1.2 !important;
  letter-spacing: normal !important;
  color: #484848 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  margin: 0px !important;
  margin-bottom: 10px !important;
  padding: 0px !important;
  font-weight: bold;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #000;
}

@media (min-width: 600px) {
  .container {
    padding: 1em;
  }

  .main-header-text {
    font-size: 30px !important;
  }
}

a {
  text-decoration: none;
}
